

<MudText Typo="Typo.h3" GutterBottom="true">Analysis In Progess</MudText>

<MudCard>
    <MudCardContent>
        <div class="d-flex flex-column align-center gap-10">

            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            <MudText Align="Align.Center" Typo="Typo.h6" GutterBottom="true">Please allow this to take a few minutes</MudText>
        </div>

    </MudCardContent>
    <MudCardActions>
    </MudCardActions>
</MudCard>
