

<MudText Typo="Typo.h3" GutterBottom="true">Analysis In Progess</MudText>

<MudCard>
    <MudCardContent>
        <div class="d-flex flex-column align-center gap-10">

            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            <MudText Align="Align.Center" Typo="Typo.h6" GutterBottom="true">Please allow up to 10 minutes for the analysis</MudText>
            <MudText Typo="Typo.subtitle1">The analysis time depends on the size of your project and the amount of commits.</MudText>
        </div>

    </MudCardContent>
    <MudCardActions>
    </MudCardActions>
</MudCard>
