@using WebApp.Models;


<MudText Typo="Typo.h3" GutterBottom="true">Expertise Self-Assessment</MudText>
<MudDivider Light="true" />
<MudCard>
    <MudCardHeader>
        <MudText>Rate from 0-5 your own assessment of the following @(Libraries.Count()) libraries that you have used.</MudText>
    </MudCardHeader>
    <MudCardContent>

        <MudText>0 = don't know what this library is/does</MudText>
        <MudText>1 = I have some idea</MudText>
        <MudText>2 = need to read documentation very often</MudText>
        <MudText>3 = need to read documentation every now and then</MudText>
        <MudText>4 = rarely need to read documentation</MudText>
        <MudText Class="mb-5">5 = can use comfortably without needing to look at documentation</MudText>

        <div class="d-flex flex-column">

            @foreach (var library in Libraries)
            {
                <div>
                    <MudText Typo="Typo.h6">@library</MudText>
                    <MudSlider TickMarks="true"
                           TickMarkLabels="@_labels"
                           Value="_surveyModel.ImportToRating[library]"
                           Step="1"
                           Max="5"
                           Min="0"
                           @onchange=@((ChangeEventArgs e) => OnSliderChange(library, e)) />

                    <MudTextField @bind-Value="_surveyModel.ImportToNote[library]"
                              Label="Optional Note"
                              />

                    <MudDivider Class="my-5" Light="true" />

                </div>
            }
        </div>

    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="OnSubmitPressed">Submit</MudButton>
    </MudCardActions>
</MudCard>

@code {
    [Parameter, EditorRequired]
    public Func<SurveyModel, Task> OnSubmit { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<string> Libraries { get; set; }

    private SurveyModel _surveyModel;

    private string[] _labels = new string[] { "0", "1", "2", "3", "4", "5" };

    public Survey()
    {
        _surveyModel = new();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        // Initialize dicts with default values:
        foreach (string library in Libraries)
        {
            if (!_surveyModel.ImportToRating.ContainsKey(library))
            {
                _surveyModel.ImportToRating.Add(library, 0);
            }

            if (!_surveyModel.ImportToNote.ContainsKey(library))
            {
                _surveyModel.ImportToNote.Add(library, "");
            }
        }
    }

    private void OnSliderChange(string key, ChangeEventArgs args)
    {
        int value = int.Parse((string)args.Value);
        _surveyModel.ImportToRating[key] = value;
    }

    private async Task OnSubmitPressed()
    {
        await OnSubmit(_surveyModel);
    }


}
