@page "/"
@using System.ComponentModel.DataAnnotations;
@using WebApp.Components;
@using Newtonsoft.Json;
@using WebApp.Models;
@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime

<PageTitle>Usage Expertise Survey</PageTitle>
<div class="d-flex align-center justify-center">
    <div style="max-width: 800px;">

        @if (errorMessage != null)
        {
            <MudAlert Severity="Severity.Warning">@errorMessage</MudAlert>
        }

        @if (step == 0)
        {
            <Introduction OnNext="OnNext" />
        }
        else if (step == 1)
        {
            <UserInfoForm OnSubmit="OnUserInfoSubmit" />
        }
        else if (step == 2)
        {
            <RepositoryDiscovery UserInfo=_userInfoModel
                             OnError="(string message) => {step=1; errorMessage=message; StateHasChanged();}"
                             OnNext="@((IEnumerable<RepositoryResult> repositories) => OnRepositoryDiscoverFinished(repositories))" />
        }
        else if (step == 3)
        {
            <SurveyAnalysisLoading Repositories="_analysisSubmitModel.Repositories" Progress="_progressModel" />
        }
        else if (step == 4)
        {
            <Survey Libraries="_importResult.LibrariesToAssess" OnSubmit="OnSurveySubmit" />
        }
        else if (step == 5)
        {
            <SurveyResult OnSubmit="OnNext" ImportResults="_importResult.Imports" />
        }
        else
        {
            <MudText Typo="Typo.h3" GutterBottom="true">Thank you for participating!</MudText>
            <MudText Typo="Typo.body1" GutterBottom="true">You may now close this window</MudText>
            <div style="width: 100%;" class="d-flex align-center justify-center">
                <MudImage Src="images/thanks.png" Width="400" />
            </div>
        }
    </div>
</div>

<MudOverlay Visible="isLoading" DarkBackground="true" Absolute="false">
    <MudProgressCircular Size="Size.Large" Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>

@code {
    private UserInfoModel _userInfoModel;
    private ImportResult _importResult;
    private SurveyModel _surveyModel;
    private AnalysisProgressModel _progressModel;
    private AnalysisSubmitModel _analysisSubmitModel;
    private int step;
    private bool isLoading;
    private string? errorMessage;

    public Index()
    {
        step = 0;
        _progressModel = new();
        _importResult = new();
    }

    async Task OnUserInfoSubmit(UserInfoModel infoModel)
    {
        errorMessage = null;
        _userInfoModel = infoModel;

        step++;
        StateHasChanged();
        await ScrollToTop();
    }

    private async Task OnRepositoryDiscoverFinished(IEnumerable<RepositoryResult> repositories)
    {
        var url = "/analyse";

        _analysisSubmitModel = new AnalysisSubmitModel()
            {
                Repositories = repositories,
                Username = _userInfoModel.Username,
                IsItu = _userInfoModel.IsItu
            };

        var responseTask = HttpClient.HandlePostRequest(url, _analysisSubmitModel);

        step++;
        StateHasChanged();
        await WaitForAnalysisCompletion(responseTask);

        var response = responseTask.Result;


        if (response is not null)
        {
            if (response.IsSuccessStatusCode)
            {
                var str = await response.Content.ReadAsStringAsync();
                _importResult = JsonConvert.DeserializeObject<ImportResult>(str);
                step++;
            }
            else
            {
                errorMessage = response.StatusCode + " - something went wrong. Please try again";
                step = 1;
            }
        }
        else
        {
            errorMessage = "Failed getting a response from the server.";
            step = 1;
        }

        StateHasChanged();
        await ScrollToTop();
    }

    async Task OnNext()
    {
        step++;
        StateHasChanged();
        await ScrollToTop();
    }

    private async Task OnSurveySubmit(SurveyModel surveyModel)
    {
        errorMessage = null;
        _surveyModel = surveyModel;
        var url = "/self-assess";
        isLoading = true;
        StateHasChanged();

        var imports = new Dictionary<string, int>();
        foreach (var lib in _importResult.Imports)
        {
            imports.Add(lib.Name, lib.TotalImports);
        }

        var submission = new FinalSubmitModel()
            {
                ImportToRating = surveyModel.ImportToRating,
                ImportToNote = surveyModel.ImportToNote,
                Imports = imports,
                Username = _userInfoModel.Username,
                IsItu = _userInfoModel.IsItu,
                Urls = _analysisSubmitModel.Repositories.Select(r => r.Url).ToList(),
                TotalCommits = _analysisSubmitModel.Repositories.Sum(r => r.UserCommits)
            };

        var response = await HttpClient.HandlePostRequest(url, submission);

        isLoading = false;
        if (response is not null)
        {
            if (response.IsSuccessStatusCode)
            {
                step++;
                errorMessage = null;
            }
            else
            {
                errorMessage = response.StatusCode + " - something went wrong. Please try again";
            }
        }
        else
        {
            errorMessage = "Failed getting a response from the server.";
        }

        StateHasChanged();
        await ScrollToTop();
    }

    private async Task ScrollToTop()
    {
        await JsRuntime.InvokeVoidAsync("scrollToTop");
    }

    private async Task WaitForAnalysisCompletion(Task task)
    {
        while (!task.IsCompleted)
        {
            await Task.Delay(2000);

            var progressModel = await HttpClient.GetFromJsonAsync<AnalysisProgressModel?>("analysis/progress/" + _userInfoModel.Username);
            if (progressModel is not null)
            {
                _progressModel = progressModel;
                StateHasChanged();
            }
        }
    }

}